html body {
  padding-top: 0;
  background: #fff;
  font-size: 13px;
  font-family: monospace;
  background: url('../images/linedpaper.png');
} 
.right { float: right; }
.left { float: left; }

#application { padding: 50px 100px; }
#fork-me img { 
  position: absolute; top: 0; right: 0; border: 0;
}

h1 { 
  font-size: 30px; 
  line-height: 30px;
  padding-bottom: 15px;
  text-align: left;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  display: inline-block;
  letter-spacing: -5px;
}

h1 sup {
  position: absolute;
  margin-top: -10px;;
  padding-left: 10px;
  font-size: 10px;
}
.subline {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 20px;
  padding-left: 20px;
  display: inline-block;
}

#footer {
  text-align: left;
  line-height: 20px;
}

hr {
  border: none;
  height: 4px;
  display: block;
  background-color: #f0f0f0;
  margin: 18px 0;
}

a {
  text-decoration: none;
  padding: 0 2px;
  color: #002ab3;
  cursor: pointer;
}
a:hover { color: white; background-color: #002ab3; }

::selection, ::-moz-selection, ::-webkit-selection {
  background: #fffde0;
}

.clear-content {
  margin-top: 10px;
  float: right;
}
